body {
  vertical-align: top;
  -webkit-font-smoothing: subpixel-antialiased;
}
body:not(.home).theme-ergomotion .site-header .header-inn .header-logo svg .b {
  stroke: none;
}

.sticky-header body:not(.home).theme-ergomotion .site-header .header-inn .header-logo svg .b {
  stroke: none;
}
.sticky-header body:not(.home) .header-bottom {
  background-color: rgb(255, 255, 255);
}
.sticky-header body:not(.home) .site-header .header-inn .header-logo svg .a {
  fill: #707070;
  stroke: #707070;
}
.sticky-header body:not(.home) .site-header .header-inn .header-logo svg .b {
  fill: #0a0c14;
  stroke: none;
}
.sticky-header body:not(.home) .site-header .header-inn .head-menu > li > a {
  color: #373736;
}
.sticky-header body:not(.home) .site-header .cart-box svg .a {
  stroke: #373736;
}
.sticky-header .site-header {
  top: 0;
  position: fixed;
}
.sticky-header .home .site-header {
  top: 0;
  position: fixed;
}

.current-menu-ancestor > a,
.current-product-parent > a {
  color: #daafa8 !important;
}

.logged-in .site-header {
  margin-top: 32px;
}

.site-header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 1000;
  border-bottom: 1px solid #dfdfde;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}
.site-header ul {
  list-style: none;
}
.site-header li {
  margin-bottom: 0;
}
.site-header .header-inn {
  max-width: 1830px;
  padding: 0 15px;
  margin: 0 auto;
}
.site-header .header-inn .header-logo {
  width: 118px;
  height: 61px;
  transition: all 0.45s cubic-bezier(0.25, 0, 0.25, 1);
}
.site-header .header-inn .header-logo a {
  display: block;
  opacity: 1;
}
.site-header .header-inn .head-aside {
  display: flex;
}
.site-header .header-inn .head-menu {
  display: flex;
  align-items: center;
  position: relative;
}
.site-header .header-inn .head-menu li {
  margin-right: 70px;
  cursor: pointer;
  padding: 6px 3px;
  position: relative;
  transition: all 0.125s cubic-bezier(0.25, 0, 0.25, 1);
}
.site-header .header-inn .head-menu li a {
  display: block;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.6px;
  color: #373736;
  text-transform: uppercase;
  opacity: 0.8;
  position: relative;
  transition: all 0.125s cubic-bezier(0.25, 0, 0.25, 1);
  padding: 5px 15px;
}
.site-header .header-inn .head-menu li:hover a {
  opacity: 1;
}
.site-header .header-inn .head-menu li.current-menu-item > a {
  color: #daafa8 !important;
  opacity: 1;
}
.site-header .header-top .header-inn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.site-header .header-bottom .header-inn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header .where-to-buy {
  font-family: "freight-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2.6px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.site-header .account-link {
  width: 20px;
  height: 20px;
  margin-right: 70px;
  cursor: pointer;
}
.site-header .account-link.for-mobile {
  display: none;
}
.site-header .count-in-cart {
  width: 18px;
  height: 20px;
}
.site-header .head-menu ul.sub-menu li {
  width: 100%;
  text-align: left;
  transition: none;
}
.site-header .head-menu li ul.sub-menu {
  position: absolute;
  top: 40px;
  left: -65px;
  width: 311px;
  margin: 0;
  padding: 10px 40px 20px;
  list-style: none;
  background: #fff;
  border-top: 6px solid #daafa8;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  background: #ffffff;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}
.site-header .head-menu li ul.sub-menu li {
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
}
.site-header .head-menu li ul.sub-menu li a {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 21px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  letter-spacing: 1.6px;
  color: #373736;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.site-header .head-menu li ul.sub-menu li a:hover {
  color: #daafa8 !important;
}
.site-header .head-menu li ul.sub-menu li ul.sub-menu {
  opacity: 0;
  visibility: hidden;
  position: relative;
  border-top: none;
  padding: 0 0 6px;
  top: auto;
  right: auto;
  left: auto;
  width: 191px;
  margin: 0 auto;
  z-index: -1;
  box-shadow: none;
}
.site-header .head-menu li ul.sub-menu li ul.sub-menu li a {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  padding: 12px 0;
}
.site-header .head-menu li:nth-child(4) ul.sub-menu {
  left: auto;
  right: -90px;
}
.site-header .head-menu li:first-child ul.sub-menu li a {
  padding: 21px 0 6px;
}
.site-header .head-menu .menu-item-has-children > .sub-menu.visible-menu {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.site-header .head-menu .menu-item-has-children:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.site-header .head-menu li.menu-item-has-children:hover ul.sub-menu li ul.sub-menu {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.home .site-header {
  top: 100vh;
  top: calc(100vh - var(--vh-offset, 0px));
}
.home .site-header .header-inn .header-logo svg .a {
  fill: #707070;
  stroke: #707070;
}
.home .site-header .header-inn .header-logo svg .b {
  fill: #0a0c14;
  stroke: none;
}
.home .header-bottom {
  background-color: rgb(255, 255, 255);
}

.header-top {
  height: 46px;
  width: 100%;
  background-color: #daafa8;
  opacity: 1;
}

.header-bottom {
  height: 124px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  transition: all 0.45s cubic-bezier(0.25, 0, 0.25, 1);
}

/* mobile  */
.mobile-menu-box {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 22px;
  height: 100vh;
  height: calc(100vh - var(--vh-offset, 0px));
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s linear;
  z-index: 1100;
}
.mobile-menu-box .mobile-control-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
}
.mobile-menu-box .mobile-control-box .header-logo {
  width: 67px;
  height: 35px;
  display: inline-block;
}
.mobile-menu-box .mobile-control-box .close_menu_btn {
  display: inline-block;
}
.mobile-menu-box .mobile-control-box .close_menu_btn img {
  width: 22px;
  height: 22px;
  margin-top: 4px;
  margin-right: 15px;
}
.mobile-menu-box .bottom-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 160px;
  overflow-y: auto;
}
.mobile-menu-box .mobile-head-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 55%;
  margin-bottom: 5%;
  overflow-y: scroll;
}
.mobile-menu-box .mobile-head-menu li {
  cursor: pointer;
  padding: 0;
  margin-bottom: 27px;
  text-align: center;
  position: relative;
  min-width: 280px;
  transition: all 0.125s cubic-bezier(0.25, 0, 0.25, 1);
}
.mobile-menu-box .mobile-head-menu li a {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.6px;
  color: #373736;
  text-transform: uppercase;
  opacity: 0.8;
  position: relative;
  transition: all 0.125s cubic-bezier(0.25, 0, 0.25, 1);
}
.mobile-menu-box .mobile-head-menu li ul.sub-menu {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  transition: all 0.2s;
}
.mobile-menu-box .mobile-head-menu li ul.sub-menu li {
  margin-right: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 18px;
  transition: all 0.3s;
}
.mobile-menu-box .mobile-head-menu li ul.sub-menu li a {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1.6px;
  color: #373736;
  line-height: 1;
  padding: 0 0 7px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s;
}
.mobile-menu-box .mobile-head-menu li ul.sub-menu li ul.sub-menu {
  display: none;
  border-top: none;
  padding: 0;
  margin: 0 auto;
}
.mobile-menu-box .mobile-head-menu li ul.sub-menu li ul.sub-menu li {
  margin-top: 7px;
  margin-bottom: 14px;
}
.mobile-menu-box .mobile-head-menu li ul.sub-menu li ul.sub-menu li a {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: none;
}
.mobile-menu-box .mobile-head-menu li.active a {
  opacity: 1;
}
.mobile-menu-box .mobile-head-menu ul.sub-menu {
  display: none;
}
.mobile-menu-box .mobile-head-menu .menu-item-has-children > .sub-menu.visible-menu {
  display: block;
}
.mobile-menu-box .mobile-head-menu li.current-menu-item > a {
  color: #daafa8 !important;
}
.mobile-menu-box .cart-box svg .a {
  stroke: #373736;
}

.cart-box {
  position: relative;
  margin-right: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cart-box:hover .widget_shopping_cart_content {
  opacity: 1;
  visibility: visible;
}
.cart-box svg {
  width: 19px;
  height: 21px;
}
.cart-box svg:hover .widget_shopping_cart_content {
  opacity: 1;
  visibility: visible;
}
.cart-box .count-in-cart {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 18px;
  height: 18px;
  background-color: #daafa8;
  border-radius: 50%;
  text-align: center;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #ffffff;
}

.widget_shopping_cart_content {
  transition: 0.2s;
  background: #fff;
  padding: 20px;
  border-top: 6px solid #daafa8;
  position: absolute;
  top: 40px;
  right: 0;
  width: 440px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
}

.bottom-buttons .where-to-buy {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2.4px;
  width: 192px;
  height: 42px;
  margin: 0 auto;
  background-color: #daafa8;
  color: #fff;
  border: 0;
  margin-bottom: 90px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.3s;
}
.bottom-buttons .where-to-buy:hover {
  color: #000;
}
.bottom-buttons .where-to-buy:active {
  color: #000;
}
.bottom-buttons .where-to-buy:focus {
  color: #000;
}
.bottom-buttons .tel {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.28px;
  color: #373736;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .site-header .cart-box {
    margin-right: 30px;
    margin-top: 10px;
  }
  .site-header .cart-box svg {
    width: 18px;
    height: 20px;
  }
  .site-header .header-inn .header-logo {
    width: 108px;
    height: 56px;
    margin-left: 32px;
  }
  .site-header .header-inn .head-menu li {
    margin-right: 38px;
  }
  .site-header .header-inn .head-menu li:last-child {
    margin-right: 34px;
  }
  .site-header .header-inn .head-menu li a {
    font-size: 14px;
  }
  .site-header .head-menu li ul.sub-menu li a {
    font-size: 14px;
  }
  .header-bottom {
    height: 98px;
  }
}
@media only screen and (max-width: 1024px) {
  .cart-box {
    margin-right: 30px;
    margin-top: 6px;
  }
  .cart-box svg {
    width: 18px;
    height: 20px;
  }
  .widget_shopping_cart_content {
    display: none;
  }
  .site-header .header-inn .head-menu {
    display: none;
  }
  .site-header .header-inn .head-menu li {
    margin-right: 38px;
    padding: 10px 0 0;
  }
  .site-header .header-inn .head-menu li:last-child {
    margin-right: 34px;
  }
  .site-header .header-inn .head-menu li a {
    font-size: 14px;
  }
  .site-header .header-inn .header-logo {
    width: 67px;
    height: 35px;
    margin-left: 19px;
  }
  .site-header .menu-ico {
    width: 32px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 18px;
    margin-top: 10px;
  }
  .site-header .account-link.for-mobile {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 25px;
    margin-top: 10px;
    cursor: pointer;
  }
  .site-header .head-menu li ul.sub-menu li a {
    font-size: 14px;
  }
  .header-top {
    display: none;
  }
  .header-bottom {
    height: 62px;
  }
  .mobile-menu-box .mobile-head-menu > li > a {
    font-weight: 600;
  }
  .mobile-menu-box.open {
    top: 0;
    display: flex;
  }
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .home .site-header {
    top: 100vh;
    top: calc(100vh - var(--vh-offset, 0px));
  }
  .site-header .cart-box {
    margin-right: 30px;
    margin-top: 10px;
  }
  .site-header .cart-box svg {
    width: 18px;
    height: 20px;
  }
  .site-header .header-inn .head-menu li {
    margin-right: 38px;
    padding: 10px 0 0;
  }
  .site-header .header-inn .head-menu li:last-child {
    margin-right: 34px;
  }
  .site-header .header-inn .head-menu li a {
    font-size: 14px;
  }
  .site-header .head-menu li ul.sub-menu li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .site-header .account-link.for-mobile {
    margin-top: 8px;
  }
}
@media only screen and (max-width: 768px) {
  .site-header .account-link.for-mobile {
    margin-top: 8px;
    display: none;
  }
}
@media only screen and (max-width: 1024px) and (orientation: portrait) and (min-width: 768px) {
  .home .site-header {
    top: 678px;
  }
}
@media screen and (max-width: 640px) {
  .mobile-menu-box .bottom-buttons {
    min-height: 100px;
  }
  .mobile-menu-box .mobile-control-box .header-logo {
    margin-left: 10px;
  }
  .mobile-menu-box .mobile-head-menu li {
    min-width: 235px;
  }
  .site-header .header-inn .header-logo {
    margin-left: 15px;
  }
  .site-header .menu-ico {
    margin-right: 15px;
  }
  .bottom-buttons .where-to-buy {
    width: 172px;
    margin-bottom: 30px;
  }
}
@media screen and (max-height: 480px) and (max-width: 840px) and (orientation: landscape) {
  .home .site-header {
    top: 100vh;
    top: calc(100vh - var(--vh-offset, 0px));
  }
  .site-header .cart-box {
    margin-right: 30px;
    margin-top: 6px;
  }
  .site-header .cart-box svg {
    width: 18px;
    height: 20px;
  }
  .site-header .header-inn .header-logo {
    width: 67px;
    height: 35px;
    margin-left: 15px;
  }
  .site-header .menu-ico {
    margin-right: 15px;
  }
  .header-bottom {
    height: 62px;
  }
  .mobile-menu-box .bottom-buttons {
    min-height: 100px;
  }
  .mobile-menu-box .mobile-control-box .header-logo {
    margin-left: 10px;
  }
}
@media screen and (max-width: 480px) and (max-height: 678px) and (orientation: portrait) {
  .home .site-header {
    top: 100vh;
    top: calc(100vh - var(--vh-offset, 0px));
  }
}
@media screen and (max-width: 360px) {
  .mobile-menu-box .mobile-head-menu li {
    min-width: 225px;
  }
}
@media screen and (max-width: 320px) {
  .mobile-menu-box .mobile-head-menu li {
    min-width: 185px;
  }
  .bottom-buttons .where-to-buy {
    margin-bottom: 5px;
  }
}
@media screen and (max-height: 320px) and (orientation: landscape) {
  .mobile-menu-box.open {
    padding: 10px 22px;
  }
  .mobile-menu-box .bottom-buttons {
    min-height: 70px;
  }
}