.our-story-section .img-box {
  width: 350px;
  height: 445px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.our-story-section .info-box {
  width: calc(100% - 370px);
  max-width: 474px;
}
.our-story-section .section-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.our-story-section .container {
  max-width: 1027px;
}